# Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/

# Environment Variables & Secrets
.env
.env.local
.env.*.local

# Database & Docker Data
*.db
*.sqlite3
data/users.db
postgres_data/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
